.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(100 * var(--vh, 1vh)); /* stylelint-disable-line*/
  min-height: 450px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include viewport--md {
    padding: 0;
    padding-top: 74px;
    opacity: 1;
  }

  &--resize {
    * {
      transition: none !important; /* stylelint-disable-line */
    }
  }

  &--init {
    visibility: visible;
    pointer-events: auto;

    @media (min-width: 1024px) {
      opacity: 1;

      .content__lead,
      .content__sub,
      .content__letter {
        transform: translate(0);
      }

      .content__letter {
        opacity: 0;
      }
    }

    @include viewport--md {
      padding: 0;
      padding-top: 74px;
      opacity: 1;

      .content__inner {
        visibility: visible;
        transform: translateX(-100vw);
        transition: transform $content-transition-settings;
      }
    }
  }

  &--page-2 {
    @include viewport--md {
      .content__inner {
        transform: translateX(0);
      }
    }
  }
}

.content__inner {
  position: relative;
  width: 100%;
  height: 100%;

  @include viewport--md {
    display: flex;
    width: 200vw;
    visibility: hidden;
    transform: translateX(-200vw);
  }
}

.content__lead,
.content__sub,
.content__letter {
  position: absolute;
  transition: opacity $content-transition-settings,
    transform $content-transition-settings;

  @include viewport--md {
    position: static;
    flex-shrink: 0;
    width: 100vw;
    padding-left: 35px;
  }
}

.content__lead {
  top: 192px;
  left: 0;
  width: 562px;
  transform: translateX(-100%);

  @include viewport--md {
    width: 100vw;
    padding-top: 246px;
    transform: none;
  }

  p {
    width: 562px;
    margin: 0;
    font-size: 96px;
    line-height: 96px;
    color: $color-neon-blue;
  }
}

.content__sub {
  top: 120px;
  right: 0;
  width: 352px;
  transform: translateX(100vw);

  @include viewport--md {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 161px;
    color: $color-default-white;
    background-color: $color-neon-blue;
    transform: none;
  }

  p {
    width: 352px;
    margin: 0;
    font-size: 30px;
    line-height: 40px;
  }
}

.content__sub-pic {
  width: 316px;
  height: 289px;
  margin-bottom: 35px;
}

.content__sub-pic-colorize {
  @include viewport--md {
    fill: $color-default-white;
  }
}

.content__letter {
  bottom: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  opacity: 1;
  transform: translateY(100%);
  pointer-events: none;

  @include viewport--md {
    display: none;
  }
}

.content__letter-icon {
  display: block;
  margin: auto;
  fill: black;
}
