.loader {
  width: 100%;
  height: 100vh;
  height: calc(100 * var(--vh, 1vh));
  min-height: 450px;

  &--preload {
    .loader__logo {
      animation: loader-child-appearance $loader-pre-animation-duration $loader-pre-animation-function forwards;
    }

    .loader__init {
      animation: loader-child-appearance $loader-pre-animation-duration $loader-pre-animation-function $loader-pre-animation-duration forwards,
        pulsation $pulsation-animation-settings $loader-pre-animation-duration * 4 infinite;
    }
  }

  &--init {
    .loader__logo {
      opacity: 1;
      animation: logo-first-animation $loader-animation-settings forwards,
        logo-default-placement $default-transition-settings $logo-default-move-delay forwards;
    }

    .loader__init {
      animation: loader-child-disappearance $loader-animation-settings;
    }
  }
}

.loader__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 100px;
  margin: auto;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.loader__init {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13vh;
  bottom: calc(13 * var(--vh, 1vh));
  width: 300px;
  margin: auto;
  font-size: 24px;
  text-align: center;
  opacity: 0;
}

@keyframes loader-child-appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes loader-child-disappearance {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes logo-first-animation {
  to {
    top: 25px;
    width: 192px;
    height: 24px;
  }
}

@keyframes logo-default-placement {
  to {
    left: 35px;
    transform: translateX(0);
  }
}

@keyframes pulsation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
